@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    border: 0;
    /* Tela-Inicial */
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(157.09deg, #1E1E1E 7.69%, #362A4B 40.39%, #583C8B 65.01%, #784CC7 83.09%);
}

.logo > img{
    width: 350px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card-container{
    margin-top: 40px;
    width: 50%;
    height: 650px;
    background: #fff;
    border-radius: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.info-title{
    font-size: 24px;
    padding: 0px 53px;
    font-weight: bold;
    color: #754AC1;
    text-align: center;
}

.info-p{
    font-size: 24px;
    text-align: center;
}

.info-date{
    font-size: 32px;
    color: #754AC1;
}

.info-participar{
    font-weight: bold;
    font-size: 24px;
}

.btn-participar{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #754AC1;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

@media (max-width: 768px) {
    .card-container{
        width: 85%;
    }

    .logo > img{
        width: 181px;
    }

    .logo:nth-child(2){
        order: 1;
    }
    
    
    .logo:nth-child(2) > img{
        width: 250px;
    }

    .logo-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .card-container{
        margin-top: 0;
    }
}

