@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    border: 0;
    /* Tela-Inicial */
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(157.09deg, #1E1E1E 7.69%, #362A4B 40.39%, #583C8B 65.01%, #784CC7 83.09%);
}

.logo > img {
    width: 350px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.titulo-form {
    color: #754AC1;
    margin-bottom: 10px;
}

.card-container {
    margin-top: 40px;
    width: 50%;
    height: 650px;
    background: #fff;
    border-radius: 10px;
}

.container {
    margin-top: 40px;
    width: 50%;
    height: 650px;
    background: #fff;
    border-radius: 10px;
}

/* Final page */

.thanks-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-container h1 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #784CC7;
}
.success {
    width: 128px;
    margin-top: 60px;
}
.thanks-container p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.part {
    padding: 40px;
}
.text-insta {
    padding: 0 40px 40px 40px;
}
.link-instagram a {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.instagram {
    width: 40px;
}
.link-instagram p {
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    color: #784CC7;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info-title {
    font-size: 24px;
    font-weight: bold;
    color: #754AC1;
    text-align: center;
}

.info-p {
    font-size: 24px;
    text-align: center;
}

.info-date {
    font-size: 32px;
    color: #754AC1;
}
.info-date-close{
    text-align: center;
    color: #754AC1;
}
.info-participar {
    font-weight: bold;
    font-size: 24px;
}
button{
    border: none;
}
.btn-participar, button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #754AC1;
    padding: 20px;
    border-radius: 10px !important;
    width: 200px;
    height: auto;
    text-align: center;
    transition: all .25s ease;
}

.form-container {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.titulo-form {
    font-size: 40px;
}

.form-input-container > label {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.form-input-container > input {
    padding: 12px !important;
    height: 40px !important;
    border-radius: 7.5px !important;
    border: 1px solid #D9D9D9 !important;
    
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.foto-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.foto-form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #754AC1;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.foto-form > button > img {
    background-color: #754AC1;
    width: 23px;
    height: 23px;
}

.foto-form > label {
    font-weight: bold;
}

.photo-button-container{
    width: 100%;
    display: flex;
    /* gap: 20px !important; */
    align-items: center;
    justify-content: center !important;
}

.botao > button {
    width: 200px;
    height: 60px;
    font-weight: bold;
    color: white;
    background-color: #754AC1;
    border-radius: 10px !important;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input {
    outline: none;
    transition: all .2s ease-in-out;
}

dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
}
dialog::backdrop{
    background: rgba(0,0,0,0.45);
}

input:focus {
    outline: 2px solid #754AC1;
    border: 1px solid #583C8B;
    box-shadow: 0 0 5px #784CC7;
}

.btn-participar:hover, button:hover{
    background-color: #583C8B;
}
.dialog-header{
    width: 100%;
    display: flex;
    justify-content: end;
}
.close-button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #ff4646;
}
.close-button > img{
    width: 10px;
    height: 10px;
}

.close-button:hover{
    background: #c33131;
}

#video{
    width: 300px;
    height: 300px;
}

#canvas{
    width: 300px;
    height: 225px;
    margin: 38px 0;
}

@media (max-width: 1200px) {
    .logo img {
        width: 230px;
    }

    .logo-container {
        gap: 45px;
    }

    .info-container {
        gap: 35px;
    }

    .info-title {
        font-size: 22px;
    }

    .info-p {
        font-size: 22px;
    }

    .info-date {
        font-size: 30px;
    }

    .info-participar {
        font-size: 22px;
        text-align: center;
    }

}
@media (max-width: 975px) {
    .container{
        height: 750px;
    }
}
@media (max-width: 768px) {
    .card-container {
        width: 85%;
    }
    .container {
        width: 85%;
    }

    .thanks-container h1 {
        margin-top: 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #784CC7;
    }

    .success {
        width: 128px;
        margin-top: 60px;
    }

    .thanks-container p {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    .part {
        padding: 40px;
    }

    .text-insta {
        padding: 0 40px 40px 40px;
    }

    .link-instagram a {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
    }

    .instagram {
        width: 40px;
    }

    .link-instagram p {
        font-weight: 700;
        font-size: 24px;
        line-height: 49px;
        color: #784CC7;
    }

    @media (max-width: 1010px) {

        /* Final page */
        .thanks-container h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
        }

        .thanks-container p {
            font-size: 20px;
        }

        .link-instagram p {
            font-size: 20px;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            padding: 40px 50px;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }

        .info-title {
            font-size: 24px;
            font-weight: bold;
            color: #754AC1;
            text-align: center;
        }


        .info-container {
            gap: 30px;
        }

        .info-title {
            font-size: 20px;
        }

        .info-p {
            font-size: 20px;
        }

        .info-date {
            font-size: 28px;
        }

        .info-participar {
            font-size: 20px;
            text-align: center;
        }

        .titulo-form {
            font-size: 1.6rem;
        }

    }
.info-p {
     font-size: 24px;
     text-align: center;
 }

    .info-date {
        font-size: 32px;
        color: #754AC1;
    }

    .info-participar {
        font-weight: bold;
        font-size: 24px;
    }

    .btn-participar {
        text-decoration: none;
        color: white;
        font-weight: bold;
        background-color: #754AC1;
        padding: 20px;
        border-radius: 10px;
        width: 200px;
        text-align: center;
    }

    @media (max-width: 768px) {
        .card-container {
            width: 85%;
        }

        .container {
            width: 85%;
        }

        .logo > img {
            width: 181px;
        }

        .logo:nth-child(2) {
            order: 1;
        }


        .logo:nth-child(2) > img {
            width: 250px;
        }

        .logo-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .card-container {
            margin-top: 0;
        }

        .container {
            margin-top: 0;
        }
        /* Final page */
        .link-instagram a {
            margin-top: 10px;
        }

        .info-container {
            gap: 30px;
        }

        .info-title {
            font-size: 20px;
        }

        .info-p {
            font-size: 20px;
        }

        .info-date {
            font-size: 28px;
        }

        .info-participar {
            font-size: 20px;
            text-align: center;
        }

    }

    @media (max-width: 450px) {

        .container{
            height: 850px;
        }
        /* Final page */
        .link-instagram a {
            margin: 0;
        }

        .link-instagram p {
            font-size: 15px;
        }
        #canvas{
            height: 300px;
            width: 225px;
            margin: 0;
        }
    }
}

